*{
    margin: 0px;
    padding: 0px
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Roboto:wght@500&family=Work+Sans:wght@400;500;600;700&display=swap');
    
    font-family: 'Work Sans', sans-serif;

}
.manu-logo{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2.8rem;
}
.logo{
    width: 100%;
}
.menu-title{
    padding-left: 10px;
    text-align: center;
    /* font-size: 4rem; */
    font-weight: 700;
}
span{
    color: #FF42A5;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.manu-list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 400;
}
.manu-follow{
    display: flex;
    padding: 10px;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color:  #ff0050;
}

/* banner section  */
.banner-container{
    gap: 12%;
    display: flex;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px 0px 120px;
    
}

.banner-text{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    text-align: center;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.banner-desc{
    padding: 10px;
    align-items: center;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.banner-btn-1, .banner-btn-2, .careers-btn{
    margin-top: 10px;
    color: #FFF;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    border: none;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.banner-btn-2{
    background: #4EC5F7;
}
/* .banner-contant{
    background-image: url("images/Group\ 14.png");
    width: 100%;
    background-repeat: no-repeat;
} */
.banner-img{
    width: 90%;
} 

 /* gamer section  */
.gamer-container{
    display: flex;
    gap: 50px;
    padding: 20px 120px 20px 120px;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-img{
    width: 100%;
}
.gamer-desc{
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.gamer-btn{
    margin: 20px 0px 20px 0px;
    text-align: right;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.unlish-title, .unlish-desc{
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}
.unlish-desc{
    font-size: 1rem;
    font-weight: 500;
}

/* game video section  */
.game-video-card{
    display: flex;
    border-radius: 16px;
    padding: 20px 120px 20px 120Px;
    justify-content: space-between;
    align-items: center;
}
.game-video-container{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.game-video-contant{
    text-align: center;
}
.game-video-title{
    font-size: 48px;
    font-weight: 700;
}
.video-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-video-image{
    width: 23%;
}
.card-img{
    width: 100%;
}
.game-video-image:hover{
    
}
/* play instant section  */
.play-container{
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: space-between;
    padding: 20px 120px 20px 120Px;
}

.play-title-text{
    text-align: right;
    font-size: 2.8rem;
    font-weight: 700;
}
.play-img{
    width: 90%;
}

.play-bandage{
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    width: 40%;
    position: relative;
    bottom: 100px;
   
}
/* careers-section  */
.careers-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding-left: 120px;
    background-color: #FF42A5;
}
.careers-title{
    color: #FFF;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.careers-desc{
    color: #FFF;
    font-size: .8rem;
    font-weight: 400;
    padding-bottom: 10px;
}
.careers-manu-1, .careers-manu-2{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 1.8rem;
}

.careers-img img{
    width: 500px;
}
.careers-menu{
    display: flex;
    justify-content: space-between;
    
}
li{
    list-style: none;
}
.careers-list li{
    
}
.careers-manu-2{
    text-align: right;
}
.careers-btn{
    background: #FFF;
    color: #F948B2;
}
/* game list section  */
/* .game-list-container,{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 20px 120px 20px 120Px;
    display: flex;
} */
.game-list-1, .game-list-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-list-1{
    padding: 70px 120px 70px 120Px;
}

.game-list{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    gap: 10px;
    border: 0;
}
.game-list-img{
    width: 30px;
}
.game-list-title{
    font-size: 1rem;
    font-weight: 600;
}
.game-list:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
/* footer section  */
.footer-container{
    padding: 80px;
    background: #0B0223;
}
.footer-logo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-title{
    color: white;
}
.footer-list{
    display: flex;
    padding: 20px;
    gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.footer-privacy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: .8rem;
    font-weight: 500;
}
.copyright-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: .8rem;
    font-weight: 500;
}



/* responsive mobile  */
@media screen and (max-width:576px) {
    .nav-container{
        /* navbar section  */
        flex-direction: column;
        padding-bottom: 30px;
    }
    .manu-list{
        flex-direction: column;
    }
    .logo{
        width: 50%;
    }
    /* banner section  */
    .banner-container{
        flex-direction: column;
        padding: 10px;
    }
    .banner-img{
        width: 100%;
    }
    /* gamer section  */
    .gamer-container{
        flex-direction: column;
        padding: 10px;
    }
    .gamer-img{
        width: 90%;
    }
    /* game video section  */
    .game-video-card{
        flex-direction: column;
        padding: 10px;
    }
    .game-video-desc{
        padding-bottom: 10px;
    }
    .game-video-image{
        width: 90%;
    }
    .game-video-image{
        padding-bottom: 30px;
    }
    /* play ins section  */
    .play-container{
        flex-direction: column;
        padding: 10px;
    }
    .play-title-text{
        text-align: center;
        font-size: 1.5rem;
    }
    .gamer-desc{
        text-align: center;
        padding: 10px;
    }
    
/* careers section  */
.careers-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.careers-manu-1, .careers-manu-2{
    font-size: .7rem;
    font-weight: 600;
}

/* game list section  */
.game-list-1, .game-list-2{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    padding: 10px;
}
/* footer section  */
.footer-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: .6rem;
}
}
